# Strings

## 1. creation of  Strings

In [2]:
single_String = 'I am a DevOps Engineer'
print(single_String)

I am a DevOps Engineer

In [4]:
# Single quotes
string = 'There is only one greatest personality in this world and "Allah" is the greatest.'
print(string)

There is only one greatest personality in this world and "Allah" is the greatest.

In [6]:
# Double quotes
double_String = "I am a 'DevOps' Engineer"
print(double_String)

I am a 'DevOps' Engineer

In [8]:
# Tripple quotes
tripple_string = """Allaha is the Only Greatest Power."""
print(tripple_string)

Allaha is the Only Greatest Power.

In [10]:
# Quotes problem:
# The string quotes must not be equal to string inside quotes.e.g. if quotes of inside string are of two then the quotes outside
# the string must be one or three as given in the below example.

string = '''I told my friend that,"Momin is the person for which everything is Allah and its Rasool"'''
print(string)

I told my friend that,"Momin is the person for which everything is Allah and its Rasool"

In [12]:

string = "I told my friend that,'Momin is the person for which everything is Allah and its Rasool'"
print(string)

I told my friend that,'Momin is the person for which everything is Allah and its Rasool'

### Casting:

In [14]:
# you can change a number into a string.
integer = str(123)
print(integer)

123

In [16]:
# but you cannot convert a string into a number always.below example will throw an example.
string = int('ABC')

ValueError: invalid literal for int() with base 10: 'ABC'

In [20]:
# but you can change a numeric string into a number e.g.
string = int('1345')
print(string)

1345

In [22]:
# The below example will throw and error because strings are immutable in python. the reason is that once you have created a 
# string then you cannot change its value.
string = 'ABC'
string[1]= 'd'
print(string)

TypeError: 'str' object does not support item assignment

## 2. String concatenation

In [24]:
string1 = 'My name is '
string2 = 'Kashif Maqbool'
string3 = string1 + string2
print(string3)

My name is Kashif Maqbool

## 3. String Methods

In [26]:
# Lower Case
string2 = 'Kashif Maqbool'
string2.lower()

'kashif maqbool'

In [28]:
# Upper Case
string2 = 'Kashif Maqbool'
string2.upper()

'KASHIF MAQBOOL'

### all strings commands

In [30]:
# This command will help to find all string commands.
dir(string)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### Asking for help in python

In [32]:
# simple find any command by using dir(string) mehod and to search about the command use help() method with command inside its 
# brackets.

help(string.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [34]:
help(string.lower)

Help on built-in function lower:

lower() method of builtins.str instance
    Return a copy of the string converted to lowercase.

In [36]:
help(string.translate)

Help on built-in function translate:

translate(table, /) method of builtins.str instance
    Replace each character in the string using the given translation table.

      table
        Translation table, which must be a mapping of Unicode ordinals to
        Unicode ordinals, strings, or None.

    The table must implement lookup/indexing via __getitem__, for instance a
    dictionary or list.  If this operation raises LookupError, the character is
    left untouched.  Characters mapped to None are deleted.

In [40]:
# translate()
# Purpose: Replaces characters in a string based on a mapping table.
# It works with str.maketrans() to define the mapping.

table = str.maketrans("abc", "123")
text = "abc cab"
translation = text.translate(table)
print(translation)

123 312

In [38]:
help(string.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \n \r \t \f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits.
        -1 (the default value) means no limit.

    Splitting starts at the front of the string and works to the end.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

In [48]:
# split()
# Purpose: Splits a string into a list based on a delimiter (default: space).
# Returns a list of substrings.

# splitting example
string = "I am Kashif Maqbool"
result = str.split(string)
print(result)

['I', 'am', 'Kashif', 'Maqbool']

## 4. String Slicing

In [54]:
string = 'Pakistan is my country.'
string[0:8]

'Pakistan'

In [56]:
# Reverse Slicing
string = 'Pakistan is my country.'
string[0:-4]

'Pakistan is my coun'

In [58]:
# Reverse Slicing
string = 'Pakistan is my beloved country.'
string[0:-10]

'Pakistan is my belove'

In [60]:
# Slicing down to a single character.
string = 'Pakistan is my beloved country.'
string[5]

't'

In [62]:
# Slicing down to a single character.
string = 'Pakistan is my beloved country.'
print(string[5])

t

## 5. String Substitutions

### Old ways of substitution

In [68]:

# method 1
string = "pakistan is my %s"%"Country"
print(string)   # OR you can simply type string name to print that string

pakistan is my Country

In [70]:
# method 2
var = "country"
string = "pakistan is my %s" % var
string

'pakistan is my country'

In [72]:
# method 3
var = "country"
string = "pakistan %s my %s" %('is',var)
string

'pakistan is my country'

In [74]:
# we use 's' to denote string
string = "%s + %s = %s" %('A','B','C')
string

'A + B = C'

In [87]:
# substitutions with integers
# we use 'i' to denote integer
string = "%i + %i = %i" %(2,3,5)          
print(string)

# but we can also use "%s" for the integers
stringg = "%s + %s = %s" %(3,3,6)
print(string)

2 + 3 = 5
2 + 3 = 5

In [89]:
# substitutions with floats
# we use 'f' to denote floats
string = "%f" % (3.1)
string

'3.100000'

In [91]:
string = "%.2f" % (3.1)
string

'3.10'

### New String formatting methodologies

In [2]:
print("My name is %(name)s " %{'name':'Kashif Maqbool'})

My name is Kashif Maqbool

In [93]:
print("My %(name)s is %(value)s " %{'name':'name','value':'Kashif Maqbool'})

My name is Kashif Maqbool

In [95]:
print("I have told you many times that,'My name is %(name)s %(name)s %(name)s '" % {'name':'Kashif Maqbool'})

I have told you many times that,'My name is Kashif Maqbool Kashif Maqbool Kashif Maqbool '

In [97]:
print("%(a)i + %(b)i = %(c)i " %{'a':1, 'b':2, 'c':3})

1 + 2 = 3

In [99]:
# Role of .format()
# The .format() method in Python replaces the placeholders {} in a string with the values you pass to it.
# The numbers {0}, {1}, {2} are positional indexes that refer to the arguments inside .format().

"I am as cool as {0},{1},{2}".format("Water","Ice","Cucumber")

'I am as cool as Water,Ice,Cucumber'

In [117]:
# The asterisks (**) in Python are called the unpacking operator when used in this way.
# Here, xy is a dictionary with keys "x" and "y".
# The **xy unpacks the dictionary into keyword arguments for the .format() method.
# So x=10 and y=20 are passed to format() automatically.

# **Quick Recap of * vs. ****
# * → unpacks iterables like lists/tuples.
# ** → unpacks dictionaries into keyword arguments.

In [101]:
xy = {"x":10, "y":20}
"I said that x={x} and y={y}".format(**xy)

'I said that x=10 and y=20'

In [113]:

"I said that x={x} and y={y}".format(x=10, y=20)

'I said that x=10 and y=20'

In [103]:
"I am as cool as {1}, {2}, {3}".format("water","ice","cucumber","good man")

'I am as cool as ice, cucumber, good man'

In [137]:
# Practice code
print("My name is %(name)s " %{'name':'Kashif Maqbool'})

My name is Kashif Maqbool

In [149]:
# Practice code
print("I am {1},{2},{3}".format("Allah ka Banda","Rasool Allah (S.A.W) ka Umti", " and Mujahid","Insan"))

I am Rasool Allah (S.A.W) ka Umti, and Mujahid,Insan