# 1. If elif and else operations

In [3]:
# if statement
var = 10
if var==10:
    print("This is a true statement")

This is a true statement

In [5]:
# else statement
var = 15
if var==10:
    print("This is a true statement")
else:
    print("This is a false statement")

This is a false statement

In [7]:
# elif statement
var1 = 10
var2 = 20
if var1 == var2:
    print("variables are equal")
elif var1>var2:
    print("variables has different value")
elif var2>var1:
    print("variables has different value")
else:
    print("This is headache")

variables has different value

# 2. Boolean Operations

In [9]:
# And operations
var1 = 10
var2 = 20
if var1 == var2 and var2 == var1:
    print("variables are equal")
elif var1>var2 and var2 < var1:
    print("variable one is greater")
elif var2>var1 and var1<var2:
    print("variables two is greater")
else:
    print("This is headache")

variables two is greater

In [11]:
# or operations
var1 = 10
var2 = 20
if var1 == var2 or var2 == var1:
    print("variables are equal")
elif var1>var2 or var2 < var1:
    print("variable one is greater")
elif var2>var1 or var1 == var2:
    print("variables two is greater")
else:
    print("This is headache")

variables two is greater

In [13]:
# not operations
var = 10
if var != 15:
    print("Value is not equal fifteen")

Value is not equal fifteen

In [15]:
# not operations in a list
list = [3,4,6,7,10]
x = 10
if x not in list:
    print("number is not present in the list")
else:
    print("number is present in the list")

number is present in the list

In [17]:
# complex example of "and" and "not"
list = [3,4,6,7]
x = 10
y = 20
if x not in list and x == y:
    print("codition is true")
else:
    print("conditions is false")

conditions is false

In [19]:
# complex example of "or" and "not" 
list = [3,4,6,7]
x = 10
y = 20
if x not in list or x == y:
    print("codition is true")
else:
    print("conditions is false")

codition is true

# 3. Checking for nothing

In [23]:
# None examples
empty_string = ""
empty_tuple = ()
empty_list = []
nothing = None

In [27]:
if empty_list == []:
    print("It's an empty list!")
if empty_tuple == ():
    print("It's an empty tuple!")
if not empty_string:
    print("This is an empty string!")
if not nothing:
    print("This is nothing")

It's an empty list!
It's an empty tuple!
This is an empty string!
This is nothing

In [35]:
string = 'someting'
if string != "":
    print("this is'nt an empty string.")
else:
    print("this is an empty string")

this is'nt an empty string.

# 4. special characters

In [50]:
# new line (\n)
print("This is a new line \n which is example of new line.")

This is a new line
 which is example of new line.

In [51]:
# tab(\t)
print("This is a new line \t which is example of new line.")

This is a new line 	 which is example of new line.

In [52]:
# backslash(\)
print("This is a new line which is example of new line \\.")

This is a new line which is example of new line \.