In [4]:
Allah = "Badshah"
print(Allah)

# Syntax Error showing code because quotes must be present on both sides of your string.

# Allah = "Badshah!
# print (Allah)

Badshah

In [6]:
# We can use three quotes to write a sentence in two or more lines.
Allaha= '''Badshah
of whole
the world'''
print(Allaha)

print(" ")

# But the quotes will have
Allah = '''Allah
is 
the 
creator of universe'''
print (Allah)

Badshah
of whole
the world

Allah
is
the
creator of universe

In [ ]:
# Problems in Strings

In [8]:
# Problems in Strings. whenever python see a quotes it consider code as a string.
# 1. Use three quotes to write a string of such words.
String= '''would't and shouldn't'''
String1= "would't and shouldn't"
print(String)
print(String1)

would't and shouldn't
would't and shouldn't

In [10]:
# 2. adding backslash or escaping.
String= "would\'t and shouldn\'t"
print(String)

would't and shouldn't

In [12]:
String= 'you would\'t do that\'s thing.'
print(String)

you would't do that's thing.

In [14]:
String= '''He said,"He should't do that's assignment."'''
print(String)

He said,"He should't do that's assignment."

In [16]:
# python will not consider the quotes as ending quotes after the backslash. 
String= "He said,\"He should\'t do that\'s assignment.\""
print(String)

He said,"He should't do that's assignment."

In [18]:
String= 'He said,"He should\'t do that\'s assignment."'
print(String)

He said,"He should't do that's assignment."

In [ ]:
# Embedding Value in Strings

In [20]:
myScore= 389
String= "I have scored %s points."
print(String % myScore)

I have scored 389 points.

In [22]:
CGPA=3.14
String = "My CGPA is %s."
print(String % CGPA)

My CGPA is 3.14.

In [24]:
String = "He said that %s percent is needed to Take admission and I said that %s Percent is needed for taking admission."
print(String %(80, 90))

He said that 80 percent is needed to Take admission and I said that 90 Percent is needed for taking admission.

In [26]:
String = '''He said that %s percent is needed to Take admission and
I said that %s percent is needed for taking admission.'''
print(String %(80, 90))

He said that 80 percent is needed to Take admission and
I said that 90 percent is needed for taking admission.

In [28]:
insert = 10
insert2 = 10
string = "I have %s dollars and %s cents."
print(string %(insert,insert2))

# OR
print(" ")

string = "I have %s dollars and %s cents."
print(string %(10,10))

I have 10 dollars and 10 cents.

I have 10 dollars and 10 cents.

In [ ]:
# Multiplying Strings

In [ ]:

print(5*'kashif Maqbool')

In [40]:
spaces = ' '* 25
string = ' '* 5
string2 = ' '*30
print('%s Govt.High School,'%spaces)
print('%s Hujra Shah Muqeem,'%spaces)
print('%s 12 September,2022.'%spaces)
print()
print()
print('Dear Sir,')
print()
print('''%sIt is stated that I am suffered from fever since last
day.Kindly grant me a sick leave because I cannot come to school
due to this fever.'''%string)
print('%s I shall be very thankful to you.' %string)
print()
print()
print('%s Your\'s Obediently' %spaces)
print('%s X.Y.Z.'%string2)

                          Govt.High School,
                          Hujra Shah Muqeem,
                          12 September,2022.


Dear Sir,

     It is stated that I am suffered from fever since last
day.Kindly grant me a sick leave because I cannot come to school
due to this fever.
      I shall be very thankful to you.


                          Your's Obediently
                               X.Y.Z.

In [56]:
print(10*' Karachi ')

 Karachi  Karachi  Karachi  Karachi  Karachi  Karachi  Karachi  Karachi  Karachi  Karachi

In [48]:
string = " " * 5
string1 = " "* 20
string3 = " "* 30
print("The Principal,")
print()
print("Dear Sir,")
print('''%s I am very sick today and I
cannot come ot school today.
Kindly grant me a school leave.''' %string)
print("%s Yours Obediently" %string3)
print("%s X.Y.Z" %string3)

The Principal,

Dear Sir,
      I am very sick today and I
cannot come ot school today.
Kindly grant me a school leave.
                               Yours Obediently
                               X.Y.Z

In [ ]:
# Strings vs Lists

In [64]:
sharfoo_list= 'Ali, Ahmad, Naeem, Rana, Haseeb, Kashif'
print(sharfoo_list)

Ali, Ahmad, Naeem, Rana, Haseeb, Kashif

In [66]:
sharfoo_list=['Ali', 'Ahmad', 'Naeem', 'Rana', 'Haseeb', 'Kashif']
print(sharfoo_list)
print()
print(sharfoo_list[4])

['Ali', 'Ahmad', 'Naeem', 'Rana', 'Haseeb', 'Kashif']

Haseeb

In [68]:
String_list=['Mango','Orange','Fruit','Apple','Melon','Banana']
print(String_list[1:4])

['Orange', 'Fruit', 'Apple']

In [70]:
Numbers_and_Strings=['Mango',5,'Orange',4,6,'Fruit','Apple','Melon','Banana']
print(Numbers_and_Strings)
print(Numbers_and_Strings[1:4])

['Mango', 5, 'Orange', 4, 6, 'Fruit', 'Apple', 'Melon', 'Banana']
[5, 'Orange', 4]

In [76]:
Numbers='1,5,6,3'
String=['Mango',5,'Orange',4,6,'Fruit','Apple','Melon','Banana']
print(Numbers,String)
print()

List=[Numbers,String]
print(List[0])
print()

print(List[1])
print()
print(List)

1,5,6,3 ['Mango', 5, 'Orange', 4, 6, 'Fruit', 'Apple', 'Melon', 'Banana']

1,5,6,3
['Mango', 5, 'Orange', 4, 6, 'Fruit', 'Apple', 'Melon', 'Banana']

['Mango', 5, 'Orange', 4, 6, 'Fruit', 'Apple', 'Melon', 'Banana']

['1,5,6,3', ['Mango', 5, 'Orange', 4, 6, 'Fruit', 'Apple', 'Melon', 'Banana']]

In [ ]:
# Insertion and deletion in lists

In [80]:
Avengers_List=['Thor','Iron Man','Black Widow','Tony Stark','Hemidall','Hulk','Banner']
Avengers_List.append('Nick Fury')
Avengers_List.append("Natasha")
print(Avengers_List)
print(Avengers_List[0:8])

['Thor', 'Iron Man', 'Black Widow', 'Tony Stark', 'Hemidall', 'Hulk', 'Banner', 'Nick Fury', 'Natasha']
['Thor', 'Iron Man', 'Black Widow', 'Tony Stark', 'Hemidall', 'Hulk', 'Banner', 'Nick Fury']

In [82]:
Numbers='[1,5,6,3]'
String=['Mango',5,'Orange',4,6,'Fruit','Apple','Melon','Banana']
print(Numbers,String)
List=[Numbers,String]
List.append('[All are Delicious Fruits.]')
List.append('[mandrake]')
List.append('[hemlock]')
List.append('[swamp gas]')
print(List)

[1,5,6,3] ['Mango', 5, 'Orange', 4, 6, 'Fruit', 'Apple', 'Melon', 'Banana']
['[1,5,6,3]', ['Mango', 5, 'Orange', 4, 6, 'Fruit', 'Apple', 'Melon', 'Banana'], '[All are Delicious Fruits.]', '[mandrake]', '[hemlock]', '[swamp gas]']

In [92]:
Numbers=[1,5,6,3]
String=['Mango',5,'Orange',4,6,'Fruit','Apple','Melon','Banana']
print(Numbers,String)
List=[Numbers,String]
List.append(['All are Delicious Fruits.'])
List.append(['mandrake'])
List.append(['hemlock'])
List.append(['swamp gas'])
print(List)
del List[4]     #['hemlock']
print(List)

[1, 5, 6, 3] ['Mango', 5, 'Orange', 4, 6, 'Fruit', 'Apple', 'Melon', 'Banana']
[[1, 5, 6, 3], ['Mango', 5, 'Orange', 4, 6, 'Fruit', 'Apple', 'Melon', 'Banana'], ['All are Delicious Fruits.'], ['mandrake'], ['hemlock'], ['swamp gas']]
[[1, 5, 6, 3], ['Mango', 5, 'Orange', 4, 6, 'Fruit', 'Apple', 'Melon', 'Banana'], ['All are Delicious Fruits.'], ['mandrake'], ['swamp gas']]

In [94]:
Avengers_List=['Thor','Iron Man','Black Widow','Tony Stark','Hemidall','Hulk','Banner']
del Avengers_List [0]
Avengers_List.append('Maqbool Ahmad')
Avengers_List.append('Kashif Maqbool')
print(Avengers_List)

['Iron Man', 'Black Widow', 'Tony Stark', 'Hemidall', 'Hulk', 'Banner', 'Maqbool Ahmad', 'Kashif Maqbool']

In [96]:
list1 = ['1,3,4,5']
list2 = ['Ahmad',6,7,'Noor','Mubashir', 'Razaq']
print(list1,list2)
list3 = [list1, list2]
list3.append(['kashif Maqbool'])
print(list3)
del list3[2]
print(list3)
print(list3[1])

['1,3,4,5'] ['Ahmad', 6, 7, 'Noor', 'Mubashir', 'Razaq']
[['1,3,4,5'], ['Ahmad', 6, 7, 'Noor', 'Mubashir', 'Razaq'], ['kashif Maqbool']]
[['1,3,4,5'], ['Ahmad', 6, 7, 'Noor', 'Mubashir', 'Razaq']]
['Ahmad', 6, 7, 'Noor', 'Mubashir', 'Razaq']

In [ ]:
# Lists Arithmetic
# Adding Lists

In [98]:
List1 = [2,4,5]
List2 = ['I','want','an','Apple.']
print(List1+List2)

[2, 4, 5, 'I', 'want', 'an', 'Apple.']

In [100]:
List1 = [2,4,5]
List2 = ['I','want','an','Apple.']
List3 =List1+List2
print(List3)
List2[2] = 'a'
print(List2)

[2, 4, 5, 'I', 'want', 'an', 'Apple.']
['I', 'want', 'a', 'Apple.']

In [102]:
# Multiplication of lists
List1 = [2,4,5]
List2 =List1 * 5
print(List2)

[2, 4, 5, 2, 4, 5, 2, 4, 5, 2, 4, 5, 2, 4, 5]

In [104]:
List1 = ['Allaha']
List2 =List1 * 5
print(List2)

['Allaha', 'Allaha', 'Allaha', 'Allaha', 'Allaha']

In [106]:
List1 = ['Allaha']
print(List1 * 10)

['Allaha', 'Allaha', 'Allaha', 'Allaha', 'Allaha', 'Allaha', 'Allaha', 'Allaha', 'Allaha', 'Allaha']

In [108]:
# How can you divide a list. It doesn't make any sense.So, it will give an error.
List1= [2,4]
List2 =List1/3
print(List2)

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [110]:
# How can you subtract a list. It doesn't make any sense.So, it will give an error.
List1= ['Kashif Maqbool']
print(List1 - 4)

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [ ]:
# Tuples in Python:
#     Simply that we cannot perform operations like insertion, deletion and replacement of values in tuples as this can only
#     we can perform in lists.

In [112]:
tuples = (3,4,5,6,9,8)
print(tuples[5])

8

In [114]:
Kashif = ('Noman','Ali','Ahmad','Nemat')
print(Kashif)

('Noman', 'Ali', 'Ahmad', 'Nemat')

In [118]:
# Tuples does not support replacement of values
Kashif = ('Noman','Ali','Ahmad','Nemat')
Kashif[2] = 'Maqbool'
print(Kashif)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Maps in Python

In [ ]:
# showing key and value in a list
Map_Food = ['Ali, Roti','Nauma, Custurd','Ahmad,Daal','Arslan,Milk']
print(Map_Food)

In [120]:
# showing key and value in map
map_food = {'Ali':'Custord',
            'Ahmed':'Rice',
            'Haseeb':'Roti',
            'Nauman':'Kheer'}
print(map_food)

{'Ali': 'Custord', 'Ahmed': 'Rice', 'Haseeb': 'Roti', 'Nauman': 'Kheer'}

In [ ]:
Map_Food = {'Ali':'Roti',
            'Nauma':'Custurd',
            'Ahmad':'Daal',
            'Arslan':'Milk'}
print(Map_Food['Ali'])

In [ ]:
# Delete values in a Map
Favorite_Sport = {'Neelam':'Cricket',
                 'Ayesha':'Football',
                 'Manahil':'BaseBall',
                 'Naureen':'Hockey'}
del Favorite_Sport['Neelam']
print(Favorite_Sport)

In [ ]:
Favorite_Sport = {'Neelam':'Cricket',
                 'Ayesha':'Football',
                 'Manahil':'BaseBall',
                 'Naureen':'Hockey'}
Favorite_Sport['Manahil']='Cycling'
print(Favorite_Sport)

In [128]:
# Delete and update values in a map
FoodMap = { 
    'Ali':'bread',
    'Ahmad':'cornFloor',
    'Riaz':'Pizza',
    'Razaq':'rice'
}
print(FoodMap)
print()
del FoodMap['Ali']
print(FoodMap)
print()
print(FoodMap['Riaz'])
print()
FoodMap['Riaz'] = 'Lussi'
print(FoodMap['Riaz'])
print(FoodMap)

# Adding key and values in a Map
FoodMap = {'Ali':'Burger'}
print(FoodMap)

{'Ali': 'bread', 'Ahmad': 'cornFloor', 'Riaz': 'Pizza', 'Razaq': 'rice'}

{'Ahmad': 'cornFloor', 'Riaz': 'Pizza', 'Razaq': 'rice'}

Pizza

Lussi
{'Ahmad': 'cornFloor', 'Riaz': 'Lussi', 'Razaq': 'rice'}
{'Ali': 'Burger'}