In [1]:
# For Loops and rnage function

In [2]:
# without for loop.
print("Allah")
print("Allah")
print("Allah")
print("Allah")
print("Allah")

Allaha
Allaha
Allaha
Allaha
Allaha

In [3]:
# using for loop and range function.
for x in range(0,5):
    print("Allah")

Allah
Allah
Allah
Allah
Allah

In [3]:
# using range function in list
print(list(range(0,15)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [11]:
for i in range(0,5):
    print("Salam %s " %i)

Salam 0
Salam 1
Salam 2
Salam 3
Salam 4

In [12]:
# without using for loop and range function code will be like that.
x = 0
print("Salam %s " %x)
x = 1
print("Salam %s " %x)
x = 2
print("Salam %s " %x)
x = 3
print("Salam %s " %x)
x = 4
print("Salam %s " %x)

Salam 0
Salam 1
Salam 2
Salam 3
Salam 4

In [13]:
# Using list to implement for loop without range function.
list = ['Ahmad', 'Ali', 'Kashif','Haseeb','Saad']
for i in list:
    print(i)

Ahmad
Ali
Kashif
Haseeb
Saad

In [14]:
# without using looop our code will be like this.
list = ['Ahmad', 'Ali', 'Kashif','Haseeb','Saad']
print(list[0])
print(list[1])
print(list[2])
print(list[3])
print(list[4])

Ahmad
Ali
Kashif
Haseeb
Saad

In [ ]:
# printing list twice

In [15]:
list = ['Ahmad', 'Ali', 'Kashif']
for i in list:
    print(i)
    print(i)

Ahmad
Ahmad
Ali
Ali
Kashif
Kashif

In [16]:
# but spaces or indentation needs to be consistent.

In [17]:
list = ['Ahmad', 'Ali', 'Kashif']
for i in list:
    print(i)
    if i == 'Ali':
        break

Ahmad
Ali

In [19]:
list = ['Ali', 'Ahmad','Akbar','Mulla']
for i in list:
    print(i)
    if i=='Akbar':
        continue

Ali
Ahmad
Akbar
Mulla

In [21]:
list = ['Ahmad', 'Ali', 'Kashif']
for i in list:
    print(i)
    if i == 'Ali':
        break
    for j in list:
        print(j)
        if j=='Ali':
            break

Ahmad
Ahmad
Ali
Ali

In [18]:
# Using While Loop in Python.

In [5]:
x = 45
y = 80
while x < 50 and y < 100:
    x = x + 1
    y = y + 1
    print(x, y)

46 81
47 82
48 83
49 84
50 85

In [1]:
i = 1
while i < 6:
    print(i)
    i=i+1

1
2
3
4
5

In [27]:
i=2
while i<20:
    print(i)
    i=i+1
    if i==15:
        break

2
3
4
5
6
7
8
9
10
11
12
13
14