# Assigning values to variables

In [4]:
kashif_maqbool = 99

In [6]:
kashif_maqbool

99

# Rules for variables

In [8]:
# no space only underscore
Kashif Maqbool = 99

SyntaxError: invalid syntax (3703485418.py, line 2)

In [10]:
kashif_maqbool = 99

In [12]:
# name not start with a number

99 = kashif_Maqbool

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2858250755.py, line 3)

In [14]:
# not use keywords which have special meanings in python because it will create problem later in code.

list = 99
str = 100

In [16]:
# and also not used special characters in defining vaiables

$dollar = 225

SyntaxError: invalid syntax (3029565246.py, line 3)

# Dynamic Typing in python

In [18]:
# e.g. syntax

kashif = 1
kashif_website = ['name', 'relegion']

In [20]:
# every time updates value until you restart kernel

a=10

In [22]:
a

10

In [24]:
a+a

20

In [26]:
# run this row and then run below row e.g. a and you will always get updated value of 'a' and this is an example of dynamic 
# typing in python.

a= a+a

In [28]:
a

20

In [2]:
# Now restart kernel and run 'a' again and this time it will give error that first define 'a' variable

a

NameError: name 'a' is not defined

# Static Typing in python

In [4]:
int kashif = 1;
kashif_website = "name";

SyntaxError: invalid syntax (4182630597.py, line 1)

# type() function in python to find data type

In [6]:
a= 10

In [8]:
type(a)

int

In [10]:
b = 2.0

In [12]:
type(b)

float

In [14]:
kashif_web = 20
kashif_android = 30
kashif_total = kashif_web + kashif_android

In [16]:
kashif_total

50