# Lists

A list is a sequenced collection of different objects such as integers, strings, and even other lists as well. The address of each element within a list is called an <b>index</b>. An index is used to access and refer to items within a list.

### Copy and Clone List

When we set one variable <b>B</b> equal to <b>A</b>, both <b>A</b> and <b>B</b> are referencing the same list in memory:

In [1]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

Initially, the value of the first element in <b>B</b> is set as "hard rock". If we change the first element in <b>A</b> to <b>"Apple"</b>, we get an unexpected side effect.  As <b>A</b> and <b>B</b> are referencing the same list, if we change list <b>A</b>, then list <b>B</b> also changes. If we check the first element of <b>B</b> we get "Apple" instead of "hard rock":

In [3]:
print("B[0]: ", B[0])
A[0] = "Apple"
print("B[0]: ", B[0])

B[0]:  hard rock
B[0]:  Apple

#### Clone(Clone by Value) the List A

In [4]:
B = A[:]
B

['Apple', 10, 1.2]

Now If you change A B will not be changed.

In [12]:
print("B[0]: ", B[0])
A[0] = "Banana"
print("A[0]: ", A[0])
print("B[0]: ", B[0])

B[0]:  Apple
A[0]:  Banana
B[0]:  Apple

# Tuples

### Nested Tuples

In [14]:
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
NestedT

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [15]:
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [16]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [17]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

In [18]:
NestedT[4][1][1]

2

# Dictionaries

A dictionary consists of keys and values. It is helpful to compare a dictionary to a list. Instead of being indexed numerically like a list, dictionaries have keys. These keys are the keys that are used to access values within a dictionary.   


The best example of a dictionary can be accessing person's detais using the **social security number**.   
Here the social security number which is a unique number will be the **key** and the details of the people will be the **values** associated with it.

In [20]:
dice = {"a":1,"b":2}
dice.keys()

dict_keys(['a', 'b'])

# Sets

## Sets Logic Operations

In [22]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [23]:
album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [24]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [25]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

In [26]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [27]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [28]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [29]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [30]:
# Check if subset

set(album_set2).issubset(album_set1)

False

Consider the list <code>A = \[1, 2, 2, 1]</code> and set <code>B = set(\[1, 2, 2, 1])</code>, does <code>sum(A) == sum(B)</code>?

In [31]:
# Set property to remove duplicates
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

the sum of A is: 6
the sum of B is: 3